@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-regular-webfont.ttf);
  }
  @font-face {
    font-family: "Plain Light";
    src: url(./font/plain-light-webfont.ttf);
  }
  @font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-regularitalic-webfont.ttf);
  }
  @font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-lightitalic-webfont.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain light";
    color: #fff;
} 
html,body{
    height: 100%;
    width: 100%;
    
}
#crsr {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid rgba(255, 255, 255, 0.61);
    border-radius: 100%;
    
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%,-50%);
  }
#loader{
    padding: 25vh 10vw;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0B0B0B;
    z-index: 10000;

}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
    padding-right: 3vw;
   
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 3.5vw;
    font-weight: 200;
    font-family: 'silk serif';
}
#line1-part1 h5 {
    width: 5vw;
    text-align: right;
}
.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2 {
    font-size: 6vw;
    font-weight: 900;
    font-family: "silk serif";
    padding-left: 1.3vw;
    text-transform: uppercase;
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-delay: 1s;
    
}
.line h4{
    font-size: 1vw;
    font-weight: 200;
    display: flex;
    justify-content: flex-end;
    width: 25vw;
    /* background-color: red; */
    

}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color:#fff;
        opacity: 0;
        font-weight: 600;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color:#fff;
        opacity: 1;
        font-weight: 600;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.6px #fff;
        color:transparent;
        opacity: 1;
        font-weight: 500;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.6px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;

    }
}
#main{
    position: relative;
    background-color: #151515;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#nav> h4{
    font-family: "plain light";
    text-transform: uppercase;
    font-size: 1.2vw;
    & i{
        padding-right: 1.5vw;
        font-weight: 100;
    }
}
#page1 #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 5vw;
   
}
#page1 #nav-part2 {
    display: flex;
    gap: 2.5vw;
    justify-content: center;
    align-items: center;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
    font-family: "plain light";
    /* background-color: red; */
    height: 2vw;

    width: 4vw;
}

.center{
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    
    display: flex;
 
}
.center:nth-child(2){
    margin-top: 17vh;
    position: relative;
   

}

.center h1,.center h2 , .center h3 {
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.1vw;
}
#hero3 h2 {
    border-bottom: 0.7vw solid white;
    padding-bottom: 0.3vw;
    margin-right: 1.5vw;
}
#hero3 h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border: none;

}

#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 17vh;
  }
  #video-con {
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
  }
  #video-con video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
  }
  #video-con #btn {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #ffa63d;
    position: absolute;
    top: -10%;
    left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  #video-con #btn i {
    font-size: 2.5vw;
    color: #fff;
  }
  .ri-pause-mini-line {
    position: absolute;
    opacity: 0;
  }
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 2vw;
    & h1 {
        font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.1vw;  
    position: relative; 
    }
}
#image-div-container{
    padding: 2vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 33vw;
    width: 24vw;
    margin: 1vw;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.image-div:nth-child(1){
    height: 29vw;
    width: 23vw;
}
.image-div:nth-child(2){
    height: 39vw;
    width: 31vw;
}
.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23vh;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 10vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page3-circle1 svg {
    height: 30%;
}

.page3-circle2 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /* margin-top: 23vh; */
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-left: 10vw; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vw;
    margin-right: 3vw;
}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* display: ; */
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    scale: 0;
    border-radius: 50%;
}

.circle-in p {
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 52%;
    justify-items: center;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    opacity: 0;
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover p {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}


#page4{
    padding-top: 5vw;
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page4-content{
    width: 70vw;
    margin-left: 28%;
}
#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.1vw;  
    position: relative; 
}
#page4-content >h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 500;
    top: -10%;
    font-family: "silk serif";
    left: -15%;
}
.underline{
    border-bottom: 0.1vw solid white;
    padding-bottom: 5vw;
    width: 65vw;
}
#page4-content >p{
    padding-top: 3vw;
    font-size: 2.2vw;
    width: 34vw;
    line-height: 1.3;
    
}
#page4-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vw;
    & img{
        height: 42vw;
        width: 33vw;
        object-fit: cover;
    }
    & p{height: 42vw;
        padding-right: 17vw;
        width: 35vw;
        font-size: 1vw;
        line-height: 1.5;
    }
}

#page4-blue-box{
  background-color: #3f7df4;
  width: 33vw;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -20%;
    margin-left: 32%;
}
.blue-div-elem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:7vw;
    border-bottom: 1px solid white;
    padding: 2vw 0;
    & {
        h5{
            font-size: 0.9vw;
            font-weight: 100;
            align-self: start;
            /* background-color: #030303; */
            width: 14vw;
            padding-right: 2vw;
        }
        h4{
            font-size: 1.4vw;
        }
    }
}
#uline,#page3>.underline,#page3 h1{
    margin-left: 28vw;
}
#page5{
    padding:7vw 0;
    min-height: 80vh;
    width: 100%;
    background-color: #151515;
   
}
.elem {
    white-space: nowrap;
    overflow-x: hidden;
}
.elem h1 {
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    display: inline-block;
    margin-right: 1vw;
    animation-name: animea;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
}
@keyframes animea {
    from{
        transform: translateX(0);

    }
    to {
        transform: translateX(calc(-100% - 1vw));
    }
    
}
.elem2 {
    white-space: nowrap;
    overflow-x: hidden;
}
.elem2 h1 {
    text-transform: uppercase;
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    display: inline-block;
    margin-right: 1vw;
    animation-direction:reverse;
    animation-name: animea;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
}
.elem span, .elem2 span{
    font-style: italic;
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer {
    height: 75vh;
    width: 100%;
    padding-left: 28vw ;
    background-color: #151515;
}
#footer h1 {
    font-size: 6.8vw;
    position: relative;
    text-transform: uppercase;
    overflow-y: hidden;
    & i {
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        width: 4vw;
    }
    
    /* &:hover{
        font-family: 'silk serif';
        -webkit-text-stroke: #fff 1px;
        color: transparent;
        font-weight: 500;
    } */
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    top: 10%;
    font-weight: 500;

    font-family: "silk serif";
    left: -15%;
}
.box {
    width: 10vw;
    /* background-color: red; */
}
#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:4vw 0 ;
    padding-right: 15vw;

    & h5{
        font-size: 1.3vw;
        text-transform: capitalize;

    }
    & h6 {
        font-size: 0.9vw;
        text-transform: capitalize;
        padding-bottom: 2vw;
    }
}

#footer >h3 {
    padding: 2vw 0;
    font-weight: 200;
    font-size: 1vw;
    /* background-color: red; */
}

#flag{
    height: 25vw;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -999;
    opacity: 0;
}

#hero3{
    z-index: 10000;
}

